/* color */
:root {
    --primaryColor: #0288D1;
    --defaultColor: #f5f7f9;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--defaultColor);
}

a, p {
    font-size: 14px;
    color: #000;
}

a:hover, .hastag {
    color: var(--primaryColor);
}

.active {
    color: var(--primaryColor) !important;
}

input:focus {
    outline: none;
}

/* navbar  */
header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav {
    display: flex;
    width: 90%;
    padding: 1em 5%;
    background-color: #fff;
}

nav div {
    flex-basis: 15%;
}

nav img {
    width: 30px;
    vertical-align: sub;
}

.nav-link {
    flex-basis: 70%;
    text-align: center;
}

.nav-link a {
    margin: 0 15px;
    vertical-align: middle;
}

.nav-link img {
    height: 22px;
    width: auto;
    margin-right: .25em;
}

#sidebar_close_toogle, #sidebar_toogle {
    display: none;
}

#sidebar_close_toogle {
    padding: 1em;
    border-bottom: 1px solid #f1f3f4;
}

#sidebar_close_toogle img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 5px 0;
}

#sidebar_toogle {
    height: 30px;
    width: 30px;
    float: right;
    margin-left: 1em;
    text-align: center;
    cursor: pointer;
}

#sidebar_toogle img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.show_sidebar {
    animation-name: show_sidebar;
    animation-duration: .5s;
    animation-fill-mode: both;
}

@keyframes show_sidebar {
    0%   {right:-20em;}
    100% {right:0;}
}

.remove_sidebar {
    animation-name: remove_sidebar;
    animation-duration: .5s;
    animation-fill-mode: both;
}

@keyframes remove_sidebar {
    0%   {right:0;}
    100% {right:-20em;}
}

/* content of body */
main {
    display: flex;
    padding: 2em;
    padding-top: 6em;
}

/* profile */
aside {
    position: sticky;
    top: 6em;
    height: fit-content;
    flex-basis: 25%;
    padding: 1.5em 0 0;
    background: #fff;
    text-align: center;
}

aside img {
    width: 100px;
    border-radius: 50%;
}

aside h4 {
    margin: .5em 0 0;
    font-weight: 500;
}

aside p {
    margin: 0.3em 1em 0;
    color: #adadad;
}

aside a {
    display: block;
    margin: 1em 0;
    color: var(--primaryColor);
}

aside .in-info {
    display: flex;
    margin: 2em 0 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

aside .in-info div {
    flex-basis: 50%;
    padding: 1em 0 1.5em;
    text-align: center;
}

/* content */
#content {
    flex-basis: 50%;
}

#content .container {
    margin: 0 2em;
}

#content .container > div {
    margin-bottom: 1.5em;
    background: #fff;
}

/* input creator */
.create-article input {
    padding: 20px;
    height: 20px;
    width: 70%;
    border: none;
}

.create-article img {
    padding: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}

/* article list */
.article .profile {
    display: flex;
    padding: 1em 1em 0;
    align-items: center;
}

.article .profile img {
    width: 35px;
    height: 35px;
    margin-right: .75em;
    border-radius: 50%;
}

.article .profile h5, .article .content .explain-bar h5 {
    margin: 0;
    font-weight: 500;
}

.article .profile p {
    margin: 0;
    color: #adadad;
}

.article .content p {
    margin: 1em;
}

.article .content img {
    display: block;
    width: 100%;
}

.article .content .explain-bar {
    padding: 1em;
    background: #f1f1f1;
    cursor: pointer;
}

.article .action-bar {
    display: flex;
    padding: 1em 1em 2em;
}

.article .action-bar img {
    height: 20px;
    cursor: pointer;
}

.article .action-bar p {
    margin: 0 3em 0 .5em;
    font-weight: 500;
    color: #bbbbbb;
}

/* ad-content */
#ad-content {
    position: sticky;
    top: 6em;
    height: fit-content;
    flex-basis: 25%;
    padding: 1.5em 0;
    background: #fff;
    text-align: center;
}

#ad-content img {
    width: 75px;
    margin: 10px;
}

#ad-content p, #ad-content h4 {
    color: #bbbbbb;
    font-weight: normal;
}

#ad-content button {
    border: 1px solid var(--primaryColor);
    font-weight: 500;
    color: var(--primaryColor);
    background: transparent;
    padding: .75em 1.5em;
    cursor: pointer;
}

#ad-content button:hover {
    color: #fff;
    background: var(--primaryColor);
}